.bg{
    height: 1749px;
}
.rouge{ color: red;
font-size: 1rem;



}
.orange{ background-color: orangered;



}
hr{
    background-color: black;
    max-width: 100px ;
    border-width: 5px;
}
head,body{
    height: 100%;
    font-size: 10px;
}
.margin{
    margin-left: 2rem;
    margin-top: 1rem;
}
.img{
    border-radius: 50%;
}
h5{
    color: blue;

}


.grosbadge{
    font-size: 1rem;

}
.fa-thumbs-up{
    font-size: 2rem;
    color: darkblue;
}